@model Borrow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakenDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakenDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BroughtDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BroughtDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BorrowId }) |
    <a asp-action="Index">Back to List</a>
</div>
