@model IEnumerable<Borrow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BroughtDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroughtDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BorrowId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.BorrowId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.BorrowId  })
            </td>
        </tr>
}
    </tbody>
</table>
